<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhang.mynews.manager.dao.RoleMapper">

	<resultMap id="BaseResultMap" type="com.zhang.mynews.bean.Role">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="rolename" property="rolename" jdbcType="VARCHAR" />
	</resultMap>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_role
		where id = #{id}
	</delete>
	<insert id="insert" parameterType="Role">
		insert into t_role (
			rolename
		)
		values
		(
			#{rolename}
		)
	</insert>
	<update id="updateByPrimaryKey" parameterType="Role">
		update t_role
		set
			rolename =#{rolename}
		where id = #{id}
	</update>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select *
		from t_role
		where id = #{id}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select *
		from t_role
	</select>
</mapper>